
.logo {
    width: 90px;
    height: 60px;
    margin-left: 70px;
}
.navbar-nav .nav-item + .nav-item {
    margin-left: 20px; 
}
.navbar-nav .nav-item  {
    margin-left: 30px; 
}
.search_bar {
    position: absolute;
    right: 0;
    margin-right: 20px;
}


/* LOGO */
.shine {
    margin-left: 30px;
    font-size: 2em;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.3);
    background: #222 -webkit-gradient(
        linear,
        left top,
        right top,
        from(#222),
        to(#222),
        color-stop(0.5, #fff)
        ) 0 0 no-repeat;
        background-image: -webkit-linear-gradient(
        -40deg,
        transparent 0%,
        transparent 40%,
        #fff 50%,
        transparent 60%,
        transparent 100%
    );
    -webkit-background-clip: text;
    -webkit-background-size: 50px;
    -webkit-animation: zezzz;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    }
    @-webkit-keyframes zezzz {
    0%,
    10% {
        background-position: -200px;
    }
    20% {
        background-position: top left;
    }
    100% {
        background-position: 200px;
    }
    }


    /* product_image */
    .product-image {
        --size: 150px;
        min-width: var(--size);
        min-height: var(--size);
        max-width: var(--size);
        max-height: var(--size);
        object-fit: cover;
        object-position: center;
        margin: auto;
    }
    .product {
        width: 220px;
        padding: 20px 20px 0 20px;
        margin: 10px;
    }
    .add-to-cart-btn {
        font-size: 14px;
    }
    .product .card-title {
        font-size: 16px;
    }
    .product .card-text {
        font-size: 14px;
    }

    /* btn-category */
    .btn-category{
        margin-left: 300px;
    }